* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(-65deg, #D9E2DC 60%, #454544 40%);
}

.app {
	width: 100vw;
	min-height: 100vh;
	

	display: flex;
	align-items: center;
	justify-content: center;
}


.app > div {

	width: 900px;
	min-height: 500px;

	display: grid;
	grid-template-columns: 400px 500px;

	/* background: red; */
}